*.out

build/
vscode.

# Игнорируем скомпилированные файлы
/*/task1
/*/task2
/*/task3
task3.o

# Игнорируем java.class-ы (Java)
Task1.class
Task2.class
Task3.class

# Игнорируем json файлы и прочее
*.json
node_modules/

# Игнорируем скомпилируемые *.js файлы (TypeScript)
TypeScript/*.js

# Игнорируем *.jar файлы (Kotlin)
*.jar

# Игнорируем системные файлы C#
bin/
obj/
task?.csproj


# Другие файлы
taskList.txt